.center {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .width-sm {
    max-width: 20rem;
  }
  
  .width-lg {
    max-width: 60rem;
  }
  
  .stack-sm > * + * {
    margin-top: 0.5rem;
  }
  
  .stack-md > * + * {
    margin-top: 1rem;
  }
  
  .stack-lg > * + * {
    margin-top: 2rem;
  }
  
  .stack-xl > * + * {
    margin-top: 4rem;
  }
  
  .row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .gap-lg {
    gap: 2rem;
  }
  
  .gap-xl {
    gap: 4rem;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  main{
    background-color: #5E574D;
    text-align: center;
  }
  .pallete1{
    background-color: #c3dfe0;
  }
  .pallete2{
    background-color: #bcd979;
  }
  .pallete3{
    background-color: #9dad6f;
  }
  .pallete4{
    background-color: #7d6d61;
  }
